body{
    font-family: Arial,sans-serif;
    min-width: 220px;

}

a {
    text-decoration: none;
    color: rgba(0,0,0,0.87);
}

a:hover {
    text-decoration: underline;
}

.spacing {
    padding-right: 15px;
}

.productboxing {
    background-image: url('../images/sprites.png');
    background-size: 528px 68px;
    background-position: -132px -38px;
    height: 30px;
    width: 30px;
    position: relative;
    left:-8px;
}

.productboxing a {
    display:block;
    height: 30px;
    width: 30px;
}


.top-container {
    font-size:13px;
    display: flex;
    justify-content: flex-end;
    padding: 15px;
    align-items: center;


}


.centre-block {
    display:block;
    margin-left:auto;
    margin-right: auto;
    padding-top: 10px;
    padding-bottom: 20px;
}


.search-buttons {
    display: flex;
    justify-content: center;
    padding-top:20px;

}

#custom-form {
    background: #fff;
    display:flex;
    border: 1px solid #dfe1e5;
    box-shadow: none;
    border-radius: 24px;
    height: 44px;
    margin: 0 auto;
    width: 100%;
    max-width: 584px;

}

#custom-form:hover{
    background-color: #fff;
    box-shadow: 0 1px 6px rgba(32,33,36,.28);
    border-color: rgba(223,225,229,0);
}


.mag-glass {
    background-image: url('../images/sprites.png');
    background-size: 528px 68px;
    background-position: -244px -31px;
    height:30px;
    width:30px;
    position:relative;
    top:8px;
    left:10px;
    
}



.search-box {
    height:34px;
    width: 80%;
    position: relative;
    top: 2px;
    outline-style: none;
    box-shadow: none;
    border-color: transparent;
}

.blue-button{
    background-color: #1a73e8;
    border: none;
    text-align: center;
    color: white;
    font-family: Google Sans,Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: .25px;
    line-height: 16px;
    height: 35px;
    min-width: 96px;
    text-align: center;
    vertical-align: middle;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

}

.blue-button:hover {
    background: #2b7de9;
    -moz-box-shadow: 0 1px 2px 0 rgba(66,133,244,0.3),0 1px 3px 1px rgba(66,133,244,0.15);
    box-shadow: 0 1px 2px 0 rgba(66,133,244,0.3),0 1px 3px 1px rgba(66,133,244,0.15);
    cursor: pointer;
}

.typical-button {
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    font-family: arial,sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
}

.typical-button:hover {
    box-shadow: 0 1px 2px 0 rgba(66,133,244,0.3),0 1px 3px 1px rgba(66,133,244,0.15);
}

.bottom-container {
    font-size:13px;
    display:flex;
    flex-direction: column;
    position: absolute;
    bottom: 0;
}